@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Gothic+A1:wght@100&display=swap');





/* RESET */
html, body, header, main, footer, article, div, span, p, a, figure, img, small, ul, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
   }
    

/* GERAL */
.hidden{
    display: none;
 }

 body{
height: 100vh;

 }

 .container-image{
    background-image: url(../img/bg2x\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    backdrop-filter: brightness(12%);
    background-color: rgba(49, 47, 47, 0.789);

    height: 100vh;
    width: 100vw;
    
    
}
.container{
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;


}

/* MAIN */
main{
display: flex;
width: 50vw;
flex-direction: column;
height: 90vh;
background-color:rgba(0, 0, 0, 60%);
border-radius: 15px;



}
.sessao{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main section{}
main section .sessao__perfil{
   
}
main section .sessao__frase{
    
}
main .sessao__redessociais{

}
main section .linha{
    background-color: #93868647;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 85vh;
    margin-bottom: 30px;

}
main section .linha__esquerda{
margin-right: 2rem;
}
   
main section .linha__direita{
display: flex;
align-items: center;

}
main section .lista{
    display: flex;
    justify-content: center;
    filter: invert(90%);
}
main section .lista__whatsapp{}
main section .lista__facebook{
    margin: 0 30px;
}
main section .lista__instagram{}
main section .frase{
    text-align: center;
    margin:0 2rem;
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 10%;
    font-weight: bold;
    opacity: 80%;
    font-size: 32px;
    margin-bottom: 90px;
}
main section .fotoperfil{
    width: 50px;
}
main section ul li{}
main section h1, h2{
    color:white;
}
main section article h2{
    font-size:18px;
    letter-spacing: 10%;
    font-family: 'Baskervville', serif;
    opacity: 100%;
    color: rgb(181, 177, 177);
    
}

/* media */

@media screen and (max-width: 1035px){
    main section .linha{
        width:auto;
    }
    




}

 
